/* Reset standaard marges en padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stijlen voor de header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Stijlen voor de footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Zorgt ervoor dat de footer altijd onderaan de pagina blijft */
  }
  
  /* Stijlen voor de main */
  main {
    display: flex; /* Maakt de main een flex container */
    flex-direction: column; /* Stapelt de child elementen verticaal */
    min-height: 100vh; /* Minimale hoogte van de main is de volledige viewport hoogte */
  }
  
  /* Voorkomt dat de footer over de inhoud van de main gaat als de inhoud groot is */
  main > * {
    flex: 1;
  }
  